{% extends "layouts/main.html" %}

{% block pageTitle %}
Register a lasting power of attorney: Agree to be an attorney
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Births, deaths, marriages and care",
        href: "#"
      },
      {
        text: "Lasting power of attorney, being in care and managing finances"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Register a lasting power of attorney
      </h1>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li  class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              
                <a href="/register-lasting-power-of-attorney">Overview</a>
              
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed ">
              <a href="/register-lasting-power-of-attorney/prepare-lpa">Preparing to make your lasting power of attorney</a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/make-lpa">
                Make your lasting power of attorney
              </a>
            </li>
			<li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
        <a href="/register-lasting-power-of-attorney/certificate-provider">
                Act as a certificate provider
        </a>
            </li>
			            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              
                Agree to be an attorney
             
            </li>
			            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/after-lpa-registered">
                After the lasting power of attorney is registered
              </a>
            </li>
			            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                    <a href="/register-lasting-power-of-attorney/contact-office-of-public-guardian">
                Contact the Office of the Public Guardian
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <h1 class="govuk-heading-l">
        Agree to be an attorney
      </h1>
      
      <p>When acting as an attorney you’ll need to make decisions on the donor's behalf following the principles of the Mental Capacity Act 2005 and the <a href="/government/publications/mental-capacity-act-code-of-practice">Mental Capacity Act Code of Practice</a>.</p>

      <p>You must:</p>
   <ul class="govuk-list govuk-list--bullet">
    <li>act as instructed by donor in the LPA</li>
     <li>support the donor to make their own decisions wherever possible</li>
     <li>act in the donor’s best interests</li>
     <li>keep the donor's money and property separate from your own (unless you already share a bank account)</li>
     <li>respect the donor's confidentiality</li>
     <li>let the donor and the Office of the Public Guardian (OPG) know if you no longer wish to act as an attorney</li>
     <li>if asked, provide OPG with information about how the LPA is being used</li>
     <li>keep records of your actions</li>
   </ul>
   <p>You must not:</p>
   <ul class="govuk-list govuk-list--bullet">
     <li>use your position to benefit yourself</li>
     <li>let other people use the LPA to make decisions</li>
     <li>use the LPA unless it is registered</li>
   </ul>



   <h2 class="govuk-heading-m">How to agree</h2>

   <p>Make sure you understand:</p>
   <ul class="govuk-list govuk-list--bullet">
     <li><a href="/use-lasting-power-attorney">your responsibilities as an attorney</a></li>
     <li>how to <a href="/make-decisions-for-someone/making-decisions">make decisions on the donor's behalf</a></li>
     <li>when and how you should make decisions with any other attorneys</li>
      <li>any restrictions and conditions</li>
   </ul>

   <p>The Office of the Public Guardian (OPG) will contact you to sign the LPA separately. You can do it online or by post.</p>

   <p>You'll need to:</p>
   <ul class="govuk-list govuk-list--bullet">
     <li>read through the LPA</li>
     <li>sign the LPA as an attorney</li>
   </ul>

   <div class="govuk-inset-text">
    <p>If your personal information is incorrect, you'll need to <a href="/make-lasting-power-of-attorney/contact-the-office-of-the-public-guardian">contact OPG</a>.</p>
 </div>
 
 <h3 class="govuk-heading-s">Read and sign the LPA online</h3>

 <p>You'll need documents or information to <a href="https://www.sign-in.service.gov.uk/about/checking-users-identities/evidence-type">prove your identity using GOV.UK One Login</a>.</p>

 <p>If you've not used GOV.UK One Login before, you'll be asked to set up an account.</p>

 <p>You’ll also need the LPA reference number. This will be in the letter or email you received telling you about the LPA.</p>

 <a href="https://demo.app.modernising.opg.service.justice.gov.uk/attorney-login" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>


 <h3 class="govuk-heading-s">Read and sign the LPA by post</h3>

 <p>If you’ve received a letter from OPG about being an attorney, it should include the paper form. If not, <a href="/make-lasting-power-of-attorney/contact-the-office-of-the-public-guardian">contact OPG</a> and ask for a paper form to be sent to you.</p>

 <p>Even if you’ve been sent a paper form, you can sign the LPA online if you’d prefer. </p>


   <h2 class="govuk-heading-m">If you do not want to be an attorney</h2>

   <p>If you're listed as an attorney and you do not want to be one, you can:</p>
   <ul class="govuk-list govuk-list--bullet">
     <li>refuse the role</li>
     <li><a href="https://draft-origin.publishing.service.gov.uk/xxxx">stop acting as an attorney after you've registered the LPA</a></li>
   </ul>

   <p>You can also  <a href="/object-registration-power-attorney">object to the registration</a> of an LPA if you've any concerns.</p>

   
 <h2 class="govuk-heading-m">After you've signed the LPA</h2>

 <p>You cannot act as an attorney until <a href="/make-lasting-power-of-attorney/after-the-lpa-is-registered">the LPA has been registered with OPG.</a> </p>

      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      {{ govukPagination({
        previous: {
          labelText: "Act as a certificate provider",
          href: "/register-lasting-power-of-attorney/certificate-provider"
        },
        next: {
          labelText: "After the lasting power of attorney is registered",
          href: "/register-lasting-power-of-attorney/after-lpa-registered"
        }
      }) }}

      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
