{% extends "layouts/main.html" %}

{% block pageTitle %}
Register a lasting power of attorney: Contact the Office of the Public Guardian
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Births, deaths, marriages and care",
        href: "#"
      },
      {
        text: "Lasting power of attorney, being in care and managing finances"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Register a lasting power of attorney
      </h1>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li  class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              
                <a href="/register-lasting-power-of-attorney">Overview</a>
              
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed ">
              <a href="/register-lasting-power-of-attorney/prepare-lpa">Preparing to make your lasting power of attorney</a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/make-lpa">
                Make your lasting power of attorney
              </a>
            </li>
			<li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
        <a href="/register-lasting-power-of-attorney/certificate-provider">
                Act as a certificate provider
        </a>
            </li>
			            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                    <a href="/register-lasting-power-of-attorney/attorney">
                Agree to be an attorney
              </a>
            </li>
			            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                    <a href="/register-lasting-power-of-attorney/after-lpa-registered">
                After the lasting power of attorney is registered
              </a>
            </li>
			            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              
                Contact the Office of the Public Guardian
              
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <h1 class="govuk-heading-l">
        Contact the Office of the Public Guardian (OPG)
      </h1>
      
      <p>Contact the Office of the Public Guardian if you need help with making and registering an LPA.</p>

      <p>If you email or write to OPG include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your full name, address and date of birth</li>
        <li>whether you are the attorney or the donor</li>
        <li>the donor’s full name, address and date of birth (if you’re the attorney)</li>
        <li>the LPA reference number (if it’s about an existing LPA)</li>
      </ul>

      <div class="contact govuk-inset-text" style="border-left:1px solid #b1b4b6">
     
       <ul class="govuk-list">
        <li>Office of the Public Guardian<br>
      <a href="mailto:customerservices@publicguardian.gov.uk">customerservices@publicguardian.gov.uk</a> <br>
      Telephone: 0300 456 0300 <br>
      Textphone: 0115 934 2778 <br>
        Monday, Tuesday, Thursday, Friday, 9am to 5pm<br>
        Wednesday, 10am to 5pm </li>
    
      <li><a href="https://www.gov.uk/call-charges">Find out about call charges</a></li>
    </ul>
      </div>

      <div class="contact govuk-inset-text" style="border-left:1px solid #b1b4b6">
     
        <ul class="govuk-list">
          <li>Office of the Public Guardian<br>
          PO Box 16185<br>
          Birmingham<br>
          B2 2WH</li>
          </ul>
        </div>

        <h2 class="govuk-heading-m">If you have a concern</h2>

        <p>If you have concerns about either the LPA or the donor’s wellbeing, contact OPG’s Safeguarding Unit as soon as possible.</p>

        <div class="contact govuk-inset-text" style="border-left:1px solid #b1b4b6">
          <ul class="govuk-list">
           <li>OPG Safeguarding Unit<br>
         <a href="mailto:opg.safeguardingunit@publicguardian.gov.uk">opg.safeguardingunit@publicguardian.gov.uk</a> <br>
         Telephone: 0115 934 2777 <br>
         Textphone: TBC <br>
           Monday, Tuesday, Thursday, Friday, 9am to 5pm<br>
           Wednesday, 10am to 5pm </li>
       
         <li><a href="https://www.gov.uk/call-charges">Find out about call charges</a></li>
       </ul>
         </div>        

      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      {{ govukPagination({
        previous: {
          labelText: "After the LPA is registered",
          href: "/register-lasting-power-of-attorney/after-lpa-registered"
        }
      }) }}

      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
