{% extends "layouts/main.html" %}

{% block pageTitle %}
Register a lasting power of attorney: Preparing to make your LPA
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Births, deaths, marriages and care",
        href: "#"
      },
      {
        text: "Lasting power of attorney, being in care and managing finances"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Register a lasting power of attorney
      </h1>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li  class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              
                <a href="/register-lasting-power-of-attorney">Overview</a>
              
            </li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed ">
              Preparing to make your lasting power of attorney
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/make-lpa">
                Make your lasting power of attorney
              </a>
            </li>
			<li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/certificate-provider">
                Act as a certificate provider
              </a>
            </li>
			            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/attorney">
                Agree to be an attorney
              </a>
            </li>
			            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/after-lpa-registered">
                After the lasting power of attorney is registered
              </a>
            </li>
			            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                    <a href="/register-lasting-power-of-attorney/contact-office-of-public-guardian">
                Contact the Office of the Public Guardian
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <h1 class="govuk-heading-l">
        Preparing to make your lasting power of attorney
      </h1>

      <h2 class="govuk-heading-m">Types of lasting power of attorney (LPA)</h2>
      <p>There are 2 types of LPA:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>personal welfare</li>
        <li>property and affairs</li>
      </ul>

      <p>You can choose to make one type or both. You do not need to have the same attorneys on both LPAs.</p>

      <h3 class="govuk-heading-s">Personal welfare lasting power of attorney</h3>
      <p>Use this LPA to <a href="https://www.gov.uk/make-decisions-for-someone/making-decisions">allow an attorney to make decisions</a> about things like:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your daily routine, for example washing, dressing, eating</li>
        <li>medical care</li>
        <li>moving into a care home</li>
        <li>life-sustaining treatment</li>
      </ul>

      <p>The LPA can only be used when you're unable to make your own decisions.</p>

      <h3 class="govuk-heading-s">Property and affairs lasting power of attorney</h3>

      <p>Use this LPA to <a href="https://www.gov.uk/make-decisions-for-someone/making-decisions">allow an attorney to make decisions</a> about money and property for you, for example:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>managing a bank or building society account</li>
        <li>paying bills</li>
        <li>collecting benefits or a pension</li>
        <li>selling your home</li>
      </ul>

      <p>Depending on what you’ve decided in your LPA, it can be used as soon as it’s registered, with your permission, or just when you’re unable to make your own decisions.</p>

      <h2 class="govuk-heading-m">Choosing your attorneys</h2>

      <p>You can choose one or more people to be your attorney.</p>

    <p>If you only have one and they have to stop being your attorney, your LPA will end.</p>

    <h3 class="govuk-heading-s">Who can be your attorney</h3>

    <p>Your attorney does not need to have legal training. They need to be 18 or over and could be:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a family member</li>
      <li>a friend</li>
      <li>a professional, for example a solicitor</li>
      <li>a trust corporation if you're making a property and affairs LPA</li>
    </ul>

    <p>When choosing an attorney, think about:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>how well they look after their own affairs, for example their finances</li>
      <li>how well you know them</li>
      <li>if you trust them to make decisions in your best interests</li>
      <li>how happy they will be to make decisions for you</li>

    </ul>

  <p>Read about an <a href="#">attorney's responsibilities</a> to help you with your decision.</p>  
  
  <p>Your attorney does not need to live in the UK or be a British citizen.</p>

  <p>You cannot choose someone who is subject to a <a href="/options-for-dealing-with-your-debts/debt-relief-orders">debt relief order</a> or <a href="/becoming-bankrupt/applying-to-become-bankrupt">someone who is bankrupt</a> if you're making an LPA for property and affairs.</p>

  <h3 class="govuk-heading-s">Talk to the people you've chosen</h3>

  <p>It's important they:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>agree to be your attorney</li>
    <li>know what they'll need to do</li>
    <li>understand your decisions</li>
  </ul>

  <p>After you’ve chosen your attorneys, you’ll need to give their name and contact details when making your LPA.</p>

  <p>The Office of the Public Guardian (OPG) will then contact them separately online or by post.</p>

  <h2 class="govuk-heading-m">How multiple attorneys work together</h2>

  <p>It's important to choose people who can work well together.</p>

  <p>If you’re appointing more than one person, you must decide if they can make decisions on their own or together.</p>

  <h3 class="govuk-heading-s">Jointly and severally</h3>

  <p>This means attorneys can make decisions on their own or with other attorneys. Your attorneys can share tasks. If one of your attorneys is unable to act, then decisions can still be made without them.</p>

  <h3 class="govuk-heading-s">Jointly</h3>

  <p>This means all attorneys have to agree on the decision. If one of your attorneys can no longer act, none of your other attorneys can act either unless you state this in your restrictions and conditions.</p>

  <h3 class="govuk-heading-s">Both jointly and jointly and severally</h3>

  <p>This means your attorneys must agree on certain decisions together but can make others on their own. If one of your attorneys can no longer act, your other attorneys will not be able to make the joint decisions without them unless you state this in your restrictions and conditions. For example, you could state that your attorneys must all agree if they want to sell your home, but they can make other decisions separately.</p>


  <h3 class="govuk-heading-s">If an original attorney can no longer act on your behalf</h3>

  <p>When you make your LPA you can choose ‘replacement attorneys’ to step in.</p>

  <p>You do not have to appoint a replacement attorney but having one or more makes sure your LPA keeps working.</p>
  
  <p>If one of your attorneys can no longer act, none of your other attorneys will be able to act either. A replacement attorney must meet the same requirements as your other attorneys. If you have more than one replacement, you can decide the order they step in to replace your original attorneys.</p>

  <h2 class="govuk-heading-m">
    Setting restrictions and conditions
  </h2> 

  <p>You can limit what your attorneys can do in particular circumstances by setting restrictions and conditions.</p>

  <p>Your restrictions and conditions need to be clear. You may want to get legal advice when deciding them.</p>
  <h3 class="govuk-heading-s">Restrictions</h3>

  <p>A restriction is what your attorney must or must not do.</p>

  <p>For example, you can say that you do not want your attorneys to sell your home.</p>

  <h3 class="govuk-heading-s">Conditions</h3>

  <p>A condition is what you would prefer your attorney to do in certain circumstances.</p>

  <p>For example, you can tell your attorneys that they cannot sell your home unless your doctor thinks you can no longer live independently.</p>

  <h2 class="govuk-heading-m">
    Certificate provider
  </h2> 
<p>You'll need a certificate provider to check you understand your LPA and want to make it.</p>
<p>Choose an independent person, like a friend, neighbour or professional. Think about someone who you’re comfortable having an open, honest conversation with and who will raise concerns if they think something is wrong.</p>
<p>They will need to witness your signature as the donor when you make the LPA.</p>
<p>They will also need to ‘provide a certificate’ or ‘certify’ your LPA by confirming that:</p>

<ul class="govuk-list govuk-list--bullet">
<li>you understand the decisions you have made in your LPA and its purpose</li>
<li>you have not been put under pressure to make it</li>
<li>there is no fraud involved in its creation</li>
<li>there is no other reason it cannot be created</li>
</ul>

<h3 class="govuk-heading-s">Who can be your certificate provider</h3>

<p>Your certificate provider needs be 18 or over and either:</p>
<ul class="govuk-list govuk-list--bullet">
<li>someone you have known for over 2 years</li>
<li>a professional with relevant skills, such as a solicitor or your GPs</li>
</ul>
<p>They can be a legal professional such as a solicitor.</p>
<p>They must not be:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>involved in the LPA in any other way</li>
  <li>related to you or in a relationship with you</li>
  <li>working in a care home where you or one of your relatives lives</li>
  <li>an employee or business partner</li>
  <li>a director or employee of a trust corporation that is involved in the LPA</li>
</ul>

<p>The Court of Protection can also make decisions about people they do not think are suitable to be certificate providers.</p>

<h3 class="govuk-heading-s">Choosing your certificate provider</h3>

<p>Talk to the person you want to appoint as your certificate provider.</p>
<p>It is important they agree to provide a certificate and can prove their identity.</p>

<div class="govuk-inset-text">
  <p>You cannot change your certificate provider after you’ve signed your LPA. You may have to make and pay for a new LPA.</p>
</div>

<p>You’ll need to provide their name and contact details when making your LPA.</p>
<p>After they have witnessed your signature, OPG will contact them separately to provide a certificate online or by post.</p>


<h2 class="govuk-heading-m">Tell people about your LPA</h2>

<p>You can choose up to 5 people to be told about your LPA. They’re called ‘people to notify’. Most people choose family members or close friends.</p>

<p>They’ll be told before the LPA is registered:</p>

<ul class="govuk-list govuk-list--bullet">
<li>the type of LPA you’ve made</li>
<li>who your attorneys are </li>
<li>how your attorneys will make decisions</li>
<li>what to do if they have concerns</li>
</ul>

<h3 class="govuk-heading-s">Nominate someone to receive updates</h3>

<p>You can choose someone to receive updates and reminders on your behalf on the progress of your LPA. This person is called a ‘correspondent’.</p>

      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      {{ govukPagination({
        previous: {
          labelText: "Overview",
          href: "/register-lasting-power-of-attorney"
        },
        next: {
          labelText: "Make your lasting power of attorney",
          href: "/register-lasting-power-of-attorney/make-lpa"
        }
      }) }}

      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
