{% extends "layouts/main.html" %}

{% block pageTitle %}
Register a lasting power of attorney: Preparing to make your LPA
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Births, deaths, marriages and care",
        href: "#"
      },
      {
        text: "Lasting power of attorney, being in care and managing finances"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Register a lasting power of attorney
      </h1>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li  class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              
                <a href="/register-lasting-power-of-attorney">Overview</a>
              
            </li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed ">
              Preparing to make your lasting power of attorney
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/make-lpa">
                Make your lasting power of attorney
              </a>
            </li>
			<li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/certificate-provider">
                Act as a certificate provider
              </a>
            </li>
			            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/attorney">
                Agree to be an attorney
              </a>
            </li>
			            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/after-lpa-registered">
                After the lasting power of attorney is registered
              </a>
            </li>
			            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                    <a href="/register-lasting-power-of-attorney/contact-office-of-public-guardian">
                Contact the Office of the Public Guardian
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <h1 class="govuk-heading-l">
        Preparing to make your lasting power of attorney
      </h1>

      <h2 class="govuk-heading-m">Types of lasting power of attorney (LPA)</h2>
      <p>There are 2 types of LPA:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>personal welfare</li>
        <li>property and affairs</li>
      </ul>

      <p>You can choose to make one type or both. You do not need to have the same attorneys on both LPAs.</p>

      <h3 class="govuk-heading-s">Personal welfare lasting power of attorney</h3>
      <p>Use this LPA to give an attorney the power to make decisions about things like:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your daily routine, for example washing, dressing, eating</li>
        <li>medical care</li>
        <li>moving into a care home</li>
        <li>life-sustaining treatment</li>
      </ul>

      <p>It can only be used when you're unable to make your own decisions.</p>

      <h3 class="govuk-heading-s">Property and affairs lasting power of attorney</h3>

      <p>Use this LPA to give an attorney the power to make decisions about money and property for you, for example:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>managing a bank or building society account</li>
        <li>paying bills</li>
        <li>collecting benefits or a pension</li>
        <li>selling your home</li>
      </ul>

      <p>It can be used as soon as it's registered, with your permission, or just when you're unable to make your own decisions.</p>

      <h2 class="govuk-heading-l">
        Attorneys
      </h2>  

      <p>You can choose one or more people to be your attorney.</p>

    <p>If you only have one and they have to stop being your attorney, your LPA will end.</p>

    <h3 class="govuk-heading-s">Who can be your attorney</h3>

    <p>Your attorney needs to be 18 or over and have mental capacity to make their own decisions. They could be:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a family member</li>
      <li>a friend</li>
      <li>a professional, for example a solicitor</li>
      <li>a trust corporation if you're making a property and affairs LPA</li>
    </ul>

    <p>When choosing an attorney, think about:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>how well they look after their own affairs, for example their finances</li>
      <li>how well you know them</li>
      <li>if you trust them to make decisions in your best interests</li>
      

    </ul>
      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      {{ govukPagination({
        previous: {
          labelText: "Overview",
          href: "/register-lasting-power-of-attorney"
        },
        next: {
          labelText: "Make your lasting power of attorney",
          href: "/register-lasting-power-of-attorney/make-lpa"
        }
      }) }}

      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
