{% extends "layouts/main.html" %}

{% block pageTitle %}
Register a lasting power of attorney: Preparing to make your LPA
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Births, deaths, marriages and care",
        href: "#"
      },
      {
        text: "Lasting power of attorney, being in care and managing finances"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Register a lasting power of attorney
      </h1>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li  class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              
                <a href="/register-lasting-power-of-attorney">Overview</a>
              
            </li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed ">
              Preparing to make your lasting power of attorney
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/make-lpa">
                Make your lasting power of attorney
              </a>
            </li>
			<li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/certificate-provider">
                Act as a certificate provider
              </a>
            </li>
			            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/attorney">
                Agree to be an attorney
              </a>
            </li>
			            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/after-lpa-registered">
                After the lasting power of attorney is registered
              </a>
            </li>
			            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                    <a href="/register-lasting-power-of-attorney/contact-office-of-public-guardian">
                Contact the Office of the Public Guardian
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <h1 class="govuk-heading-l">
        Preparing to make your lasting power of attorney
      </h1>

      <h2 class="govuk-heading-m">Types of lasting power of attorney (LPA)</h2>
      <p>There are 2 types of LPA:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>personal welfare</li>
        <li>property and affairs</li>
      </ul>

      <p>You can choose to make one type or both. You do not need to have the same attorneys on both LPAs.</p>

      <h3 class="govuk-heading-s">Personal welfare lasting power of attorney</h3>
      <p>Use this LPA to give an attorney the power to make decisions about things like:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your daily routine, for example washing, dressing, eating</li>
        <li>medical care</li>
        <li>moving into a care home</li>
        <li>life-sustaining treatment</li>
      </ul>

      <p>It can only be used when you're unable to make your own decisions.</p>

      <h3 class="govuk-heading-s">Property and affairs lasting power of attorney</h3>

      <p>Use this LPA to give an attorney the power to make decisions about money and property for you, for example:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>managing a bank or building society account</li>
        <li>paying bills</li>
        <li>collecting benefits or a pension</li>
        <li>selling your home</li>
      </ul>

      <p>It can be used as soon as it's registered, with your permission, or just when you're unable to make your own decisions.</p>

      <h2 class="govuk-heading-l">
        Attorneys
      </h2>  

      <p>You can choose one or more people to be your attorney.</p>

    <p>If you only have one and they have to stop being your attorney, your LPA will end.</p>

    <h3 class="govuk-heading-s">Who can be your attorney</h3>

    <p>Your attorney needs to be 18 or over and have mental capacity to make their own decisions. They could be:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a family member</li>
      <li>a friend</li>
      <li>a professional, for example a solicitor</li>
      <li>a trust corporation if you're making a property and affairs LPA</li>
    </ul>

    <p>When choosing an attorney, think about:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>how well they look after their own affairs, for example their finances</li>
      <li>how well you know them</li>
      <li>if you trust them to make decisions in your best interests</li>
      <li>how happy they will be to make decisions for you</li>

    </ul>

  <p>Read about an <a href="#">attorney's responsibilities</a> to help you with your decision.</p>  
  
  <p>Your attorney does not need to live in the UK, be a British citizen or have legal training.</p>

  <p>You cannot choose someone who is subject to a <a href="/options-for-dealing-with-your-debts/debt-relief-orders">Debt Relief Order</a> or <a href="/becoming-bankrupt/applying-to-become-bankrupt">someone who is bankrupt</a> if you're making an LPA for property and affairs.</p>

  <h3 class="govuk-heading-s">If there's more than one attorney</h3>

  <p>It's important to choose people who can work well together.</p>
  <p>If you're appointing more than one person, you must decide if they'll make decisions either:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>separately or together (known as 'jointly and severally') - which means attorneys can make decisions on their own or with other attorneys</li>
    <li>together (known as 'jointly') - which means all the attorneys have to agree on the decision</li>
  </ul>

  <p>You can also choose to let them make some decisions'jointly', and then others 'jointly and severally'.</p>

  <p>Attorneys who are appointed jointly must agree together or they cannot make the decision.</p>

  <h3 class="govuk-heading-s">Appointing an attorney</h3>
  <p>Talk to the person you want to appoint as your attorney.</p>
  <p>It's important they:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>agree to be your attorney</li>
    <li>know what they’ll need to do</li>
    <li>understand your decisions</li>
  </ul>

  <p>After you’ve chosen your attorneys, you’ll need to give their name and contact details when making your LPA.</p>

  <p>The Office of the Public Guardian (OPG) will then contact them separately online or by post.</p>

  <h3 class="govuk-heading-s">If an original attorney can no longer act on your behalf</h3>

  <p>You can nominate ‘replacement attorneys’ to step in when you make your LPA.</p>
  <p>You do not have to appoint a replacement attorney but having one or more makes sure your LPA keeps working.</p>
  <p>If you have not nominated a replacement attorney, your attorneys will not be able to make decisions jointly.</p>
  <p>A replacement attorney must meet the same requirements as your other attorneys. If you have more than one replacement, you must decide the order they step in to replace your original attorneys.</p>

  <h2 class="govuk-heading-l">
    Setting conditions and restrictions
  </h2> 

  <p>You can limit what your attorneys can do in particular circumstances.</p>
  <h3 class="govuk-heading-s">Example of a personal welfare LPA condition</h3>

  <div class="govuk-inset-text">
    <p>If I need to go into care, my attorneys must decide jointly about the home that I go into.</p>
  </div>

  <h3 class="govuk-heading-s">Example of a property and affairs LPA condition</h3>

  <div class="govuk-inset-text">
    <p>My attorneys must not sell my home unless I need to pay for care fees.</p>
  </div>

  <p>Your conditions and restrictions need to be clear. You may want to get legal advice when deciding them.</p>
  <h2 class="govuk-heading-l">
    Certificate provider
  </h2> 
<p>You’ll need a certificate provider to help you register your LPA.</p>
<p>Choose an independent person, like a friend, neighbour or professional. Think about someone who you’re comfortable having an open, honest conversation with and who will raise concerns if they think something is wrong.</p>
<p>They will need to witness your signature as the donor when you make the LPA.</p>
<p>They will also need to ‘provide a certificate’ or ‘certify’ your LPA by confirming that:</p>

<ul class="govuk-list govuk-list--bullet">
<li>you understand the decisions you’ve made in the LPA and its purpose</li>
<li>you are not under pressure to make the LPA</li>
<li>you are who you say you are</li>
<li>there’s no other reason that they know of for their LPA not to be created</li>
</ul>

<h3 class="govuk-heading-s">Who can be your certificate provider</h3>

<p>Your certificate provider needs to:</p>
<ul class="govuk-list govuk-list--bullet">
<li>be 18 or over</li>
<li>have known you for over 2 years</li>
</ul>
<p>They can be a legal professional such as a solicitor.</p>
<p>They must:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>not be related to you or in a relationship with you</li>
  <li>not working in a care home where you or one of your relatives lives</li>
  <li>ot involved in the LPA in any other way</li>
</ul>

<h3 class="govuk-heading-s">Appointing your certificate provider</h3>

<p>Talk to the person you want to appoint as your certificate provider.</p>
<p>It is important they agree to provide a certificate and can prove their identity.</p>

<div class="govuk-inset-text">
  <p>You cannot change your certificate provider after you’ve made your LPA. You’ll have to apply and pay for a new LPA.</p>
</div>

<p>You’ll need to provide their name and contact details when making your LPA.</p>
<p>After they have witnessed your signature, OPG will contact them separately to certify your LPA online or by post.</p>

<h2 class="govuk-heading-l">
  Other people involved in making your LPA
</h2> 

<p>You’ll need to provide names and contact details of any people you want to be involved in making your LPA.</p>

<h3 class="govuk-heading-s">Tell people about your LPA</h3>

<p>You can choose up to 5 people to be told about your LPA. They’re called ‘people to notify’. Most people choose family members or close friends. You cannot choose anyone who is already involved in your LPA.</p>

<p>They’ll be told before the LPA is registered:</p>

<ul class="govuk-list govuk-list--bullet">
<li>the type of LPA you’ve made</li>
<li>who your attorneys are </li>
<li>how your attorneys will make decisions</li>
<li>what to do if they have concerns</li>
</ul>

<h3 class="govuk-heading-s">Nominate someone to receive updates</h3>

<p>You can choose someone to receive updates and reminders on your behalf on the progress of your LPA. This person is called a ‘correspondent’.</p>

      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      {{ govukPagination({
        previous: {
          labelText: "Overview",
          href: "/register-lasting-power-of-attorney"
        },
        next: {
          labelText: "Make your lasting power of attorney",
          href: "/register-lasting-power-of-attorney/make-lpa"
        }
      }) }}

      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
