{% extends "layouts/main.html" %}

{% block pageTitle %}
  Register a lasting power of attorney: Overview
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Births, deaths, marriages and care",
        href: "#"
      },
      {
        text: "Lasting power of attorney, being in care and managing finances"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Register a lasting power of attorney
      </h1>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li  aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              
                Overview
              
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed ">
              <a href="/register-lasting-power-of-attorney/prepare-lpa">Preparing to make your lasting power of attorney</a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/make-lpa">
                Make your lasting power of attorney
              </a>
            </li>
			<li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/certificate-provider">
                Act as a certificate provider
              </a>
            </li>
			            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/attorney">
                Agree to be an attorney
              </a>
            </li>
			            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/register-lasting-power-of-attorney/after-lpa-registered">
                After the lasting power of attorney is registered
              </a>
            </li>
			            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                    <a href="/register-lasting-power-of-attorney/contact-office-of-public-guardian">
                Contact the Office of the Public Guardian
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <h1 class="govuk-heading-l">
        Overview
      </h1>
      
      <p>A lasting power of attorney (LPA) is a legal document that allows you (as 'the donor') to choose one or more trusted people ('attorneys') to act and make decisions on your behalf.</p>
	  <div class="govuk-inset-text">
		<p>This guide is also available <a href="https://www.gov.uk/xxxx">in Welsh (Cymraeg)</a>.</p></div>

	<p>Your LPA will be legally binding only in England and Wales. There’s a different way to make a power of attorney if you need one that:</p>
 <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://www.mygov.scot/power-of-attorney">works in Scotland</a></li>
    <li><a href="https://www.nidirect.gov.uk/articles/managing-your-affairs-and-enduring-power-attorney">works in Northern Ireland</a></li>
  </ul>	
	    
	<p>Unlike a will, an LPA sets out what decisions your attorneys can make while you're alive.</p>
  <p>There are 2 types of LPA:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>personal welfare, for health and care decisions</li>
    <li>property and affairs, for financial decisions</li>
  </ul>	
<p>You can choose to make one type or both.</p>

	<p> Both LPAs can be used when they have been registered and when you have <a href="https://www.gov.uk/make-decisions-for-someone/assessing-mental-capacity">lost mental capacity</a>. You can also choose to use the property and affairs LPA while you still have mental capacity.
	<p>You can cancel the LPA or remove attorneys at any time, whether it's been registered or not, as long as you have the mental capacity to do so.</p>

  <p>The LPA ends when you die.</p>

  <p>Your attorneys cannot use your LPA to make changes to your will.</p>
		  <div class="govuk-inset-text">
		<p>There's a different <a href="https://www.publicguardian-scotland.gov.uk/power-of-attorney">process in Scotland</a> and <a href="https://www.nidirect.gov.uk/managing-your-affairs-and-enduring-power-of-attorney">process in Northern Ireland</a>.</p></div>
		
	
	<h2 class="govuk-heading-m">Why you might make an LPA</h2>
	<p>An LPA gives you more control over what happens to you if you have an accident or an illness and cannot make your own decisions (you 'lack mental capacity').</p>
	<p>If you do not have an LPA and lose the mental capacity to make your own decisions, someone else will need to <a href="https://www.gov.uk/become-deputy">apply to a court to become your deputy</a>.</p>
	<p>Making an LPA instead of having a court appointed deputy:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>may be quicker</li>
			<li>costs less money</li>
			<li>gives you more control</li></ul>
	
	<h2 class="govuk-heading-m">Who makes an LPA</h2>	
	<p>You make your own LPA but you can get help from someone you trust. You can also get help from a professional, like a solicitor or a charity. The decisions you make must be your own.</p>
  <p>You must:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>be aged 18 or over</li>
    <li>have mental capacity when the LPA is made</li>
  </ul>	
	
  <p>You do not need to live in the UK or be a British citizen.</p>
  <p>Other people involved in making a lasting power of attorney are your:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>attorneys - the people you choose to make decisions on your behalf</li>
  <li>certificate provider - who checks that you understand your LPA and want to make it</li>
  </ul>

  <h2 class="govuk-heading-m">How much does an LPA cost</h2>
  <p>Applying to register an LPA costs £82 unless you get a <a href="/government/publications/power-of-attorney-fees">reduction or exemption</a>.</p> 
<p>If you want both a personal welfare LPA and a property and affairs LPA it will cost £164 in total.</p>
  <p>If your annual income is under £12,000 you might be eligible for a 50% discount. If you're receiving certain income-related benefits you won't have to pay anything at all.</p>

  <h2 class="govuk-heading-m">How long does making an LPA take</h2>
  <p>When everyone has signed and returned the LPA, there's a 4 week waiting period before it's registered. This is so that people can <a href="/register-lasting-power-of-attorney/contact-office-of-public-guardian">make objections to the LPA.</a></p>

  <h2 class="govuk-heading-m">Get help from the Office of the Public Guardian</h2>

<p><a href="/register-lasting-power-of-attorney/contact-office-of-public-guardian">Contact the Office of the Public Guardian (OPG)</a> if you need help deciding if you should make an LPA or if you have any concerns.</p>

      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      {{ govukPagination({
        
        next: {
          labelText: "Preparing to make your lasting power of attorney",
          href: "/register-lasting-power-of-attorney/prepare-lpa"
        }
      }) }}

      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
